body {
  text-align: center;
  font-family: helvetica;
}

.BackgroundImage {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-color: transparent;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

nav, a{
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
}
.BackgroundImage h3 {
  font-weight: bold;
}

p {
  font-size: 14px;
}

footer {
  font-family: Helvetica;
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
